In [13]:
import pandas as pd

In [66]:
file1=pd.read_csv('/Users/siddharth.sinha/Documents/Spark/2015-summary.csv')

In [67]:
file1.head()

  DEST_COUNTRY_NAME ORIGIN_COUNTRY_NAME  count
0     United States             Romania     15
1     United States             Croatia      1
2     United States             Ireland    344
3             Egypt       United States     15
4     United States               India     62

In [30]:
file1.shape

(256, 2)

In [7]:
file1.shape[1]

3

In [31]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 256 entries, Romania to United States
Data columns (total 2 columns):
DEST_COUNTRY_NAME    256 non-null object
count                256 non-null int64
dtypes: int64(1), object(1)
memory usage: 6.0+ KB

In [59]:
file1.iloc[[90,43,23]]

   DEST_COUNTRY_NAME ORIGIN_COUNTRY_NAME  count
90          Djibouti       United States      1
43            Mexico       United States   7140
23     United States              Russia    161

In [53]:
file1.index[10]

10

In [68]:
file1.index

RangeIndex(start=0, stop=256, step=1)

In [69]:
file1.columns

Index(['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count'], dtype='object')

In [70]:
file1.describe

<bound method NDFrame.describe of                      DEST_COUNTRY_NAME             ORIGIN_COUNTRY_NAME  count
0                        United States                         Romania     15
1                        United States                         Croatia      1
2                        United States                         Ireland    344
3                                Egypt                   United States     15
4                        United States                           India     62
5                        United States                       Singapore      1
6                        United States                         Grenada     62
7                           Costa Rica                   United States    588
8                              Senegal                   United States     40
9                              Moldova                   United States      1
10                       United States                    Sint Maarten    325
11                       United States                Marshall Islands     39
12                              Guyana                   United States     64
13                               Malta                   United States      1
14                            Anguilla                   United States     41
15                             Bolivia                   United States     30
16                       United States                        Paraguay      6
17                             Algeria                   United States      4
18            Turks and Caicos Islands                   United States    230
19                       United States                       Gibraltar      1
20    Saint Vincent and the Grenadines                   United States      1
21                               Italy                   United States    382
22                       United States  Federated States of Micronesia     69
23                       United States                          Russia    161
24                            Pakistan                   United States     12
25                       United States                     Netherlands    660
26                             Iceland                   United States    181
27                    Marshall Islands                   United States     42
28                          Luxembourg                   United States    155
29                            Honduras                   United States    362
..                                 ...                             ...    ...
226                        South Korea                   United States   1048
227                             Angola                   United States     15
228                              Ghana                   United States     18
229                      New Caledonia                   United States      1
230                         Guadeloupe                   United States     56
231                             France                   United States    935
232                             Poland                   United States     32
233                            Nigeria                   United States     59
234                      United States                         Uruguay     13
235                          Greenland                   United States      2
236                      United States                         Bermuda    193
237                              Chile                   United States    174
238                      United States                            Cuba    478
239                      United States                      Montenegro      1
240                      United States                        Colombia    867
241                      United States                        Barbados    130
242                      United States                           Qatar    109
243                          Australia                   United States    329
244                      United States                  Cayman Islands    310
245                      United States                          Jordan     44
246                      United States                         Namibia      1
247                      United States             Trinidad and Tobago    217
248                      United States                         Bolivia     13
249                       Cook Islands                   United States     13
250                           Bulgaria                   United States      3
251                      United States           Saint Kitts and Nevis    145
252                            Uruguay                   United States     43
253                      United States                           Haiti    225
254  Bonaire, Sint Eustatius, and Saba                   United States     58
255                             Greece                   United States     30

[256 rows x 3 columns]>

In [71]:
file1.T

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
DEST_COUNTRY_NAME,United States,United States,United States,Egypt,United States,United States,United States,Costa Rica,Senegal,Moldova,...,United States,United States,United States,Cook Islands,Bulgaria,United States,Uruguay,United States,"Bonaire, Sint Eustatius, and Saba",Greece
ORIGIN_COUNTRY_NAME,Romania,Croatia,Ireland,United States,India,Singapore,Grenada,United States,United States,United States,...,Namibia,Trinidad and Tobago,Bolivia,United States,United States,Saint Kitts and Nevis,United States,Haiti,United States,United States
count,15,1,344,15,62,1,62,588,40,1,...,1,217,13,13,3,145,43,225,58,30

In [72]:
file1.sort_index(axis=1,ascending=False)

     count             ORIGIN_COUNTRY_NAME                  DEST_COUNTRY_NAME
0       15                         Romania                      United States
1        1                         Croatia                      United States
2      344                         Ireland                      United States
3       15                   United States                              Egypt
4       62                           India                      United States
5        1                       Singapore                      United States
6       62                         Grenada                      United States
7      588                   United States                         Costa Rica
8       40                   United States                            Senegal
9        1                   United States                            Moldova
10     325                    Sint Maarten                      United States
11      39                Marshall Islands                      United States
12      64                   United States                             Guyana
13       1                   United States                              Malta
14      41                   United States                           Anguilla
15      30                   United States                            Bolivia
16       6                        Paraguay                      United States
17       4                   United States                            Algeria
18     230                   United States           Turks and Caicos Islands
19       1                       Gibraltar                      United States
20       1                   United States   Saint Vincent and the Grenadines
21     382                   United States                              Italy
22      69  Federated States of Micronesia                      United States
23     161                          Russia                      United States
24      12                   United States                           Pakistan
25     660                     Netherlands                      United States
26     181                   United States                            Iceland
27      42                   United States                   Marshall Islands
28     155                   United States                         Luxembourg
29     362                   United States                           Honduras
..     ...                             ...                                ...
226   1048                   United States                        South Korea
227     15                   United States                             Angola
228     18                   United States                              Ghana
229      1                   United States                      New Caledonia
230     56                   United States                         Guadeloupe
231    935                   United States                             France
232     32                   United States                             Poland
233     59                   United States                            Nigeria
234     13                         Uruguay                      United States
235      2                   United States                          Greenland
236    193                         Bermuda                      United States
237    174                   United States                              Chile
238    478                            Cuba                      United States
239      1                      Montenegro                      United States
240    867                        Colombia                      United States
241    130                        Barbados                      United States
242    109                           Qatar                      United States
243    329                   United States                          Australia
244    310                  Cayman Islands                      United States
245     44                          Jordan                      United States
246      1                         Namibia                      United States
247    217             Trinidad and Tobago                      United States
248     13                         Bolivia                      United States
249     13                   United States                       Cook Islands
250      3                   United States                           Bulgaria
251    145           Saint Kitts and Nevis                      United States
252     43                   United States                            Uruguay
253    225                           Haiti                      United States
254     58                   United States  Bonaire, Sint Eustatius, and Saba
255     30                   United States                             Greece

[256 rows x 3 columns]

In [73]:
file1.sort_values(by='ORIGIN_COUNTRY_NAME')

       DEST_COUNTRY_NAME                ORIGIN_COUNTRY_NAME  count
34         United States                             Angola     13
36         United States                           Anguilla     38
215        United States                Antigua and Barbuda    117
156        United States                          Argentina    141
102        United States                              Aruba    342
221        United States                          Australia    258
160        United States                            Austria     63
91         United States                         Azerbaijan     21
168        United States                            Bahrain      1
241        United States                           Barbados    130
150        United States                            Belgium    228
208        United States                             Belize    193
236        United States                            Bermuda    193
248        United States                            Bolivia     13
161        United States  Bonaire, Sint Eustatius, and Saba     59
204        United States                             Brazil    619
169        United States             British Virgin Islands     80
144        United States                           Bulgaria      1
214        United States                             Canada   8483
51         United States                         Cape Verde     14
244        United States                     Cayman Islands    310
63         United States                              Chile    185
73         United States                              China    920
240        United States                           Colombia    867
222        United States                       Cook Islands     13
47         United States                         Costa Rica    608
1          United States                            Croatia      1
238        United States                               Cuba    478
185        United States                            Curacao     83
44         United States                             Cyprus      1
..                   ...                                ...    ...
171              Georgia                      United States      2
45               Ecuador                      United States    268
43                Mexico                      United States   7140
174          Philippines                      United States    134
175              Grenada                      United States     53
96               Ireland                      United States    335
177        Cote d'Ivoire                      United States      1
178              Ukraine                      United States     14
56              Thailand                      United States      3
58             Venezuela                      United States    290
158              Bermuda                      United States    183
157                Spain                      United States    420
141          Netherlands                      United States    776
70               Liberia                      United States      2
69           New Zealand                      United States    111
145              Denmark                      United States    153
146                China                      United States    772
66            Azerbaijan                      United States     21
138            Singapore                      United States      3
64               Morocco                      United States     15
151       Cayman Islands                      United States    314
152            Argentina                      United States    180
153                 Peru                      United States    279
154         South Africa                      United States     36
61                Panama                      United States    510
62   Antigua and Barbuda                      United States    126
255               Greece                      United States     30
234        United States                            Uruguay     13
60         United States                          Venezuela    246
74         United States                            Vietnam      2

[256 rows x 3 columns]